*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* .test{
    width: auto;
    height: 100px;

} */


/* .test {
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    margin:0 auto;
}
.test canvas {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
} */