nav{
    background-color: chocolate;
    color:white;
    height:65px;
    font-weight:600 ;
    font-size:25px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}
